.portfolio {
    background: url('../../../assets/decor/portfolio-decor.png'), linear-gradient(102.92deg, #1B004E 16.54%, #72068F 65.06%, #4E0E8B 85.68%);
    background-position: center;
    background-size: cover 100%;
    background-repeat: no-repeat;
}

.portfolio .main-section-title h2 {
    color: #fff !important;
}

.portfolio .works-wrapper {
    gap: 30px;
}