.main-btn {
    display: block;
    width: fit-content;
    background-color: #FF717D;
    color: #fff;
    padding: 15px;
    font-weight: 300;
    font-size: 14px;
    border: 1px solid #FF717D;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s linear;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -ms-transition: 0.3s linear;
    -o-transition: 0.3s linear;
}
.main-btn:hover {
    background-color: transparent;
    color: #FF717D;
}