nav {
    color: #ffffff;
    transition: 0.4s linear;
}

nav a {
    color: #ffffff !important;
}

/* NAVBAR TOGGLER BUTTON */
nav .toggle-menu {
    display: none;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    flex-grow: 0;
    gap: 5px;
    width: 25px;
    min-height: 16px;
    height: fit-content;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

nav .toggle-menu .toggle-menu-bar {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

nav .toggle-menu.animate-toggle-menu .toggle-menu-bar:nth-child(1) {
    position: absolute;
    top: 7.5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

nav .toggle-menu.animate-toggle-menu .toggle-menu-bar:nth-child(2) {
    position: absolute;
    top: 0;
    display: none;
}

nav .toggle-menu.animate-toggle-menu .toggle-menu-bar:nth-child(3) {
    position: absolute;
    top: 7.5px;
    transform: rotate(-135deg);
}

/* NAVBAR LINKS LIST */
nav .list-wrapper {
    transition: 0.2s;
}

nav .list-wrapper .links-list {
    transition: inherit;
}

nav .list-wrapper .links-list .navbar-link {
    cursor: pointer;
    transition: inherit;
}

nav .list-wrapper .links-list .navbar-link:hover {
    font-weight: bold;
}

/* LANGUAGE DROPDOWN */
.languages-wrappper {
    position: relative;
    cursor: pointer;
}

.languages-wrappper .language {
    font-weight: 500;
}

.languages-wrappper .dropdown-arrow {
    transition: 0.2s linear;
}

.languages-wrappper .rotateArrow {
    transform: rotate(180deg);
}

.languages-wrappper .languages-dropdown {
    display: none;
    position: absolute;
    z-index: 10;
    text-align: center;
    top: calc(100% + 10px);
    right: 0;
}

.languages-wrappper .languages-dropdown.is-open {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.languages-wrappper .languages-dropdown .language-option {
    padding: 3px;
    transition: 0.4s linear;
}

.languages-wrappper .languages-dropdown .language-option.is-active {
    background-color: #D4B4DD;
    color: #1C0051;
    padding: 2px 0;
    border-radius: 20px;
}

@media (width <=991px) {
    nav .container {
        flex-wrap: wrap;
    }

    nav .list-wrapper {
        display: none !important;
        flex-direction: column;
        width: 100%;
    }

    nav .list-wrapper .links-list {
        flex-direction: column;
    }

    nav .list-wrapper.is-open {
        display: flex !important;
    }

    nav .toggle-menu {
        display: flex;
    }

    .languages-wrappper .languages-dropdown.is-open {
        position: relative;
    }
}